.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  position: relative;
}

.inputWrapper label {
}

.inputWrapper input {
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border-radius: 0.25rem;
  border: 1px solid var(--color-blue);
}

.inputWrapper input.invalid {
  border-color: var(--color-warning);
}

.inputWrapper input:focus {
  border-color: var(--color-sea);
}

.passwordIcon {
  cursor: pointer;
  position: absolute;
  top: 2.25rem;
  right: 0.5rem;
  width: 1rem;
}

.passwordIcon:hover {
  scale: 1.1;
}

.errorMessage {
  color: var(--color-warning);
  font-size: small;
  height: 1rem;
  align-self: flex-end;
}
