.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px -3px var(--color-sea);
}

.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main {
  padding: 2rem;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
}

.footer {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 0 6px -3px var(--color-sea);
}
